.input-container{
    display: flex;
    justify-content: center;
}

.input-container img{
    height: 20px;
    width: 20px;
}

.input-container button{
    border-radius: 20px 20px;
    border-style: solid;
}

.input-container input{
    border: 1px;
    border-radius: 15px;
    border-style: solid;
}