.input-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.input-container img{
    height: 20px;
    width: 20px;
}

.input-container button{
    border-radius: 20px 20px;
    border-style: none;
background-color: #f5f5f5;

}

.input-container input{
    border: 1px #d3d3d3;
    border-radius: 15px;
    border-style: solid;
    text-align: center;
    width: 40%;
    box-shadow:
  0 2.2px 2.9px rgba(0, 0, 0, 0.012),
  0 5.5px 7.3px rgba(0, 0, 0, 0.018),
  0 11.2px 14.9px rgba(0, 0, 0, 0.022),
  0 23px 30.7px rgba(0, 0, 0, 0.028),
  0 63px 84px rgba(0, 0, 0, 0.04)
;

}

.w-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;

}

.input-container{
    border: 1px solid #d3d3d3;
}

.weather{

}

@media only screen and (min-width: 600px){
    .input-container input{
        width: 20%;
    }

    .w-container{
        width: 60%;
        margin-left: 20%;
    }
}

.change-unit{
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    box-shadow:
  0 2.2px 2.9px rgba(0, 0, 0, 0.012),
  0 5.5px 7.3px rgba(0, 0, 0, 0.018),
  0 11.2px 14.9px rgba(0, 0, 0, 0.022),
  0 23px 30.7px rgba(0, 0, 0, 0.028),
  0 63px 84px rgba(0, 0, 0, 0.04)
;

}